body {
	
/* leave some space for the fixed navigation bar	 */
	padding-top:50px;
	
  /* font style for the whole website */
font-family: 'Oswald', sans-serif;
	color: red;
	
  /* Location of the image */
/*  background: url('../images/background-mobile.jpg'); */
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}


/* it changes navigation font's color and background */
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: red;
    
}

.navbar-inverse .navbar-nav>li>a {
    color: red;
}



.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-top: -20px;
}

.navbar, .navbar-inverse .navbar-brand {
    color: red;
	
}

.navbar-fixed-top{
	border-width:0 0 3px;
	border-color:#222;
	height:50px;	
}

/*mobile menu its common feature*/
.navbar-toggle{
		margin-top:-14px;
}

.animation 
{	color: blue;
	font-size:25px;
    position: relative;
    /* -webkit-animation: mymove 20s infinite; /* Safari 4.0 - 8.0 */ */
	-webkit-animation: mymove 6s; /* Safari 4.0 - 8.0 */
	-webkit-animation-iteration-count: 6;
    animation: mymove 6s;
	animation-iteration-count: 6;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}
.FrontPageFont
{
	color:white;
	font-size: X-large;
	margin-top: 70px;
	line-height: 125%;
	text-align: justify;
	text-shadow: 2px 2px red;/* this line for text shadow */
}
.body-backgroundImage{
	background-image:url('../images/background/background-mobile.jpg');
	width:100%;
	height: auto;
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}




.about_us_background{
	background-image:url('../images/spice2.jpg');
	width:100%;
	height: auto;
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
	
}

/* /* photogallery */ */
/* .fedbackground{ */
	/* background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/photogaleery.jpg'); */
	/* width:100%; */
	/* height: auto; */
	/* background-position: center center; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
	
	 /* /* background: rgba(0,0,0,0.9); */ */
	  /* /* opacity: 0.5; */ */
/* } */


 /* .imageGallery2, .imageGallery3, .imageGallery4{ */
	/* padding-left: 70px; */
	/* padding-top:0px; */
	/* padding-bottom:0px;	 */
/* } */

/* p#success_gallery{ */
	/* color:green; */
/* } */
/* .panel.nested_imageGallery{ */
		/* margin-bottom: 0px; */
		/* margin-top:0px; */
		/* margin-left:50px; */
		/* margin-right:50px; */
/* } */

/* button.btn-success, button.btn-warning, button.btn-info{ */
    
    /* border-top-right-radius: 66px; */
/* } */
/* /* #imageGallery1, #imageGallery2, #imageGallery3, #imageGallery4{ */ */
		/* /* padding:3px; */ */
	
/* /* } */ */
/* .panel.main_imageGallery{ */
	/* border: 3px solid; */
	/* margin-top:40px; */
/* } */

/* .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th, .table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th  */
/* { */
   /* /*  border-top: 3px; */ */
	/* /* border:3px solid #DAA520; */ */
	/* /* border:3px solid #464646; */ */
	/* border: none; */
/* } */

/* hr { */
    /* margin-top: 2px; */
    /* margin-bottom: 2px; */
    /* border: 0; */
    /* /* border-top: 1px solid #DAA520; */ */
	/* border-top: 2px solid #ff3333; */
/* } */


/* .th{ */
	/* font-size: 22px; */
/* } */

/* .table>thead>tr>th { */
    /* font-size: 22px; */
/* }	 */


  /* .table>tbody>tr>td>span{ */
	/* font-size:11px; */
	/* font-style: italic; */
	/* color:#ff4d4d;   */
  /* } */
/* hr { */
    /* margin-top: 2px; */
    /* margin-bottom: 2px; */
    /* border: 0; */
    /* border-top: 1px solid #ff3333; */
/* } */
/* .menu-background{ */
	/* /* background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/photo.jpg'); */ */
	/* width:100%; */
	/* height: auto; */
	/* background-position: center center; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
	 /* background-color:rgba(255,0,0,0.5); */
	/* background:repeating-linear-gradient(90deg,#737373, #737373 5px,#a6a6a6 5px,#a6a6a6 10px);  */
	
	/* /* background:repeating-linear-gradient(90deg,#ff9999, #ff9999 10px,#ffcc66 10px,#ffcc66 20px,#ffcccc 20px,#ffcccc 30px);  */ */
/* } */

/* table { */
    /* background-color:  rgba(38, 38, 38, 0.8); */
	/* margin:50px; */
	 
/* } */


   /* .table {  */
        /* border: none; */
        
		
    /* } */