.customDiv
{
	margin:3px;
	min-height:100px;
	background-color:silver;
	text-align:center;
	font-size:large;
}
.customDivButton{
	padding:10px;
	width:100%;
	
	
}
.sidebarContent
{
	margin-bottom:10px;
	min-height:150px;
	background-color:silver;
	text-align:center;
	font-size:large;
}
.mainContent
{
	margin-bottom:10px;
	min-height:300px;
	background-color:silver;
	text-align:center;
	font-size:large;
}
body
{
	padding-top:50px;
}