@media screen and (max-width: 576px) {
  .FrontPageFont {
        font-size:Medium;
		color:gold;
		text-shadow: 1px 1px red;
    }
	
	.imageGallery2, .imageGallery3, .imageGallery4{
		padding-left: 20px;
	}
	
	.panel.panel-danger.nested_imageGallery{
		margin-left:5px;
		margin-right:5px;
	}

	/* Safari 4.0 - 8.0 */
	@-webkit-keyframes mymove {
		from {left: 0px;}
		to {left: 70px;}
	}

	@keyframes mymove {
		from {left: 0px;}
		to {left: 70px;}
	}
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .FrontPageFont {
    color:DarkSalmon; 
	font-size:large;
	text-shadow: 1px 1px red;
    }
	/* Safari 4.0 - 8.0 */
/* @-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
} */
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .FrontPageFont {
    color:Orange; 
	font-size:large;
	text-shadow: 1px 1px red;
    }
	/* Safari 4.0 - 8.0 */
/* @-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
} */
}


 