@media only screen and (max-width: 480px) {
  .FrontPageFont {
        font-size:small;
    }
	/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 70px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 70px;}
}
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .FrontPageFont {
    color:yellow; 
	font-size:medium;
    }
	/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}
}
 