.menu_background
{
	background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/background/spice.jpg');
	width:100%;
	height: auto;
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	background-color:rgba(255,0,0,0.5);
}

table 
{
    background-color:  rgba(38, 38, 38, 0.8);
	margin-top:50px;
}

table>thead>tr>th{
	background:rgba(78, 177, 186,0.6);  
  }
  
div.col-lg-12.menu_heading{
	margin-top:50px;
	background:rgba(78, 177, 186,0.6);
	padding:20px;
	
}

.image-margin{
	margin-top:50px;
	margin-bottom:10px;
}

.table>tbody>tr>td>span
{
	font-size:11px;
	font-style: italic;
	color:#ff4d4d;  
  }
  
hr
 {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 0;
    border-top: 1px solid #ff3333;	
}

