.menu_background{
	/* background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/photo.jpg'); */
	width:100%;
	height: auto;
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	 background-color:rgba(255,0,0,0.5);
	background:repeating-linear-gradient(90deg,#4EB1BA, #4EB1BA 5px,#e9e9e9  5px,#e9e9e9 10px); 
	/* background:repeating-linear-gradient(90deg,#4EB1BA, #4EB1BA 10px,#e3dec1  10px,#e3dec1 20px);  */

	/* background:repeating-linear-gradient(90deg,#ff9999, #ff9999 10px,#ffcc66 10px,#ffcc66 20px,#ffcccc 20px,#ffcccc 30px);  */
	/* background:repeating-linear-gradient(90deg,#ff9999, #ff9999 10px,#ffcccc 10px,#ffcccc 20px);/*pink*/ 
}

table {
    background-color:  rgba(38, 38, 38, 0.8);/*large*/
	/* background-color:			rgba(255, 179, 179,0.8); */
	/* background-color:  rgba(136, 204, 0, 0.8); */
	/* background-color: rgba(102, 153, 153,0.8); */
	margin-top:50px;
	 
	 /* background-color:  rgba(227, 222, 193,0.8); */
}

table>thead>tr>th{
	background:rgba(78, 177, 186,0.6);  
  }
div.col-lg-12.menu_heading{
	margin-top:50px;
	background:rgba(78, 177, 186,0.6);
	padding:20px;
	
	/* color:green; */
	/* font-size:34; */
}

.image-margin{
	margin-top:50px;
	margin-bottom:10px;
}
  .table>tbody>tr>td>span{
	font-size:11px;
	font-style: italic;
	color:#ff4d4d;  
  }
hr {
    margin-top: 2px;
    margin-bottom: 2px;
    border: 0;
    border-top: 1px solid #ff3333;	
}

