.fed_background{
	background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../images/background/photogallery.jpg');
	width:100%;
	height: auto;
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


 .imageGallery2, 
 .imageGallery3, 
 .imageGallery4{
	padding-left: 70px;
	padding-top:0px;
	padding-bottom:0px;	
}

button.btn-success, button.btn-warning, button.btn-info{
    
    border-top-right-radius: 66px;
}

.panel.nested_imageGallery{
		margin-bottom: 0px;
		margin-top:0px;
		margin-left:50px;
		margin-right:50px;
}

.panel.main_imageGallery{
	border: 4px solid;
	margin-top:40px;
}